/* Début CSS header / Nav */
#dropProduct li a {
  width: 185px;
  text-align: center;
}
#navbar-header {
  background: -moz-linear-gradient(46deg, #800000 0%, #337AB7 62%, #337AB7 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #800000), color-stop(62%, #337AB7), color-stop(100%, #337AB7)); /* safari4+,chrome */
background: -webkit-linear-gradient(46deg, #800000 0%, #337AB7 62%, #337AB7 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(46deg, #800000 0%, #337AB7 62%, #337AB7 100%); /* opera 11.10+ */
background: -ms-linear-gradient(46deg, #800000 0%, #337AB7 62%, #337AB7 100%); /* ie10+ */
background: linear-gradient(44deg, #800000 0%, #337AB7 62%, #337AB7 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#337AB7', endColorstr='#800000',GradientType=0 ); /* ie6-9 */
  height: auto;
  border: solid 1px;
  border-radius: 25px;
}
.btn-navbar {
    width: 200px;
  height: 45px;
  background-color: #9a5c36;
  border-color: #9a5c36;
  text-align: center;
  color: black;
}
a {
  text-decoration: none;
}
.btn-navbar li a {
  width: 185px;
  background-color: #9a5c36;
  border-color: #9a5c36;
  text-align: center;
}
/* Fin CSS header / Nav */
.panier{
  background-color: green;
}
/* Début CSS Body */
h1 {
  text-align: center;
  font-size: 52px;
}
h2 {
  text-align: center;
}
.cartemere {
  width: 220px;
  height: 220px;
}
#carteMere {
  text-align: center;
}
#processeur {
  text-align: center;
}
#carteGraphique {
  text-align: center;
}
#barretteRam {
  text-align: center;
}
.cartegraphique {
  width: 220px;
  height: 220px;
}
.barretteram {
  width: 220px;
  height: 220px;
}
.processeur {
  width: 220px;
  height: 220px;
}
/* Fin CSS Body */
